body {
    max-width: 1200px;
    margin: auto;
    background-color:#9f9f9f;
    font-family: 'Amatic SC', cursive;
    background-image: url('food.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

p, td, th, button {
    font-size: 30px;
}

h1 {
    font-size: 60px;
    margin-bottom: 10px;
}

header {
    text-align: center;
}

.content {
    width: 800px;
    margin: auto;
    background-color: #ffffff;
}

.navbar {
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    width: 150px;
    text-align: center;
  }

.nava {
    float: left;
    background-color: rgb(226, 188, 17);
    color: white;
    margin: 0px 0px 8px 0px;
    padding: 8px 0px 8px 0px;
    width: 150px;
}

.dropdown {
    position: relative;
    display: inline-block;
  }

.dropbtn {
    background-color: rgb(211, 157, 95);
    color: white;
    padding: 16px;
    width: 150px;
    border: none;
    cursor: pointer;
    font-family: 'Amatic SC', cursive;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content p {
    margin: auto
}

.dropdown-content a {
    color: black;
    padding: 0px 6px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgb(211, 157, 95);
}

table {
    margin: auto;
}

th, td {
    padding: 0px 10px 0px 10px;
}

th:nth-child(1) {
    text-align: right;
}

th:nth-child(2) {
    text-align: left;
}

.keys {
    border-right: 2px dotted rgb(226, 188, 17);
    text-align: right;
    font-style: italic;
}